<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 
공통영역 들어갈 태그 스타일
<div class="side-memo-ring">
	<ul>
		<li class="opacity-action"><strong>안지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>임지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>김지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>정지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>안지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>엄지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>황지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>윤지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>천지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>곽지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>추지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>서지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>소지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>유지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>주지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>강지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>길지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>박지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>목지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>구지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>용지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>정지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>문지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>민지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>안지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
		<li class="opacity-action"><strong>한지원</strong>(으)로부터<br />메세지가 도착했습니다.<button type="button" class="btn-ring-del">삭제<button></li>
	</ul>
</div>


 -->
</body>
<script>
//메시지 알림 삭제
$('.btn-ring-del').on('click', function(){
	$(this).parent().remove();
});
</script>
</html>